.BoxItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.08);
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    border: 2px solid rgba(0, 135, 169,0.5);
    margin: .25rem;
}
.BoxItem .left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.BoxItem .left .size {
    margin: .25rem .75rem;
    background-color: rgba(0, 135, 169,0.5);
    backdrop-filter: blur(1rem);
    padding: .25rem 1rem;
    border-radius: .5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
}
.BoxItem .left .name {
    font-size: large;
    margin: .75rem 0;
}
.BoxItem .right {
    margin: .25rem 1rem;
}